@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
/**
 * Modern CSS Reset Tweaks
 * ================================================== */
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**
   * CSS Reset Tweaks
   *
   * http://meyerweb.com/eric/tools/css/reset/
   * v2.0-modified | 20110126
   * License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
   * Input Reset
   */
input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   */
[hidden] {
  display: none;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
button,
input {
  line-height: normal;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
   * 1. Address box sizing set to content-box in IE 8/9.
   */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Remove inner padding and border in Firefox 3+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
   * Based on normalize.css v8.0.1
   * github.com/necolas/normalize.css
   */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 75%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/*
   * Misc
   * ========================================================================== */
template {
  display: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.tcw {
  color: hsl(0, 0%, 98%);
}

.top-m-1 {
  margin-top: 1rem;
}

.top-m-2 {
  margin-top: 2rem;
}

.top-m-3 {
  margin-top: 3rem;
}

.top-m-4 {
  margin-top: 4rem;
}

.h-1-1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-align: center;
  color: hsla(53, 10%, 20%, 0.95);
}
@media (max-width: 768px) {
  .h-1-1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.h-2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-wrap: balance;
  line-height: 1.75rem;
  text-align: center;
  color: hsl(53, 10%, 30%);
}
@media (max-width: 768px) {
  .h-2 {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}

.h-3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-wrap: balance;
  color: hsl(50, 27%, 41%);
  line-height: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .h-3 {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}

.h-3-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-wrap: balance;
  color: hsl(50, 27%, 41%);
  line-height: 1.75rem;
  margin-bottom: 0.54rem;
  text-align: center;
}
@media (max-width: 768px) {
  .h-3-1 {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}

.h-4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 0.07rem;
  text-wrap: balance;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .h-4 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.35rem;
  }
}

.h-4-2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 0.07rem;
  text-wrap: balance;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  text-align: center;
  color: hsl(53, 10%, 30%);
}
@media (max-width: 768px) {
  .h-4-2 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.35rem;
  }
}

.h-5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  text-wrap: balance;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  text-align: center;
  color: hsl(53, 10%, 30%);
}
@media (max-width: 768px) {
  .h-5 {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}

.p-body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.p-body-c {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  text-align: center;
  text-wrap: balance;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.p-link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  text-decoration: none;
  color: hsl(53, 10%, 10%);
  line-height: 1.75rem;
  text-align: center;
  text-wrap: balance;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.p-link:hover {
  opacity: 0.5;
}

.card-p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.07rem;
  line-height: 1.75rem;
  text-align: center;
  text-wrap: balance;
  margin: 0.5rem 0 0 0;
  padding: 0 2rem;
}
@media (max-width: 1024px) {
  .card-p {
    padding: 0 0;
  }
}

.button-1 {
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(32, 85%, 23%);
  color: hsl(0, 0%, 98%);
  margin: 4rem auto 0 auto;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  line-height: 1.25rem;
}
.button-1:hover {
  background-color: hsl(54, 11%, 64%);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.button-2 {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(54, 11%, 64%);
  color: hsl(53, 10%, 10%);
  margin: 1.5rem auto 0 auto;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  line-height: 1.25rem;
}
.button-2:hover {
  background-color: hsl(53, 10%, 30%);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  color: hsl(0, 0%, 98%);
  font-weight: 400;
}

.img-3-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -4rem 0 0 0;
}
@media (max-width: 768px) {
  .img-3-wrapper {
    margin: -4rem 0 0 0;
  }
}
@media (max-width: 745px) {
  .img-3-wrapper {
    margin: -3rem 0 0 0;
  }
}

.content-wrapper {
  position: relative;
  width: 70vw;
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .content-wrapper {
    width: 80vw;
  }
}
@media (max-width: 425px) {
  .content-wrapper {
    width: 90vw;
  }
}

.hero-wrapper {
  position: relative;
  top: 65vh;
  width: 100%;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 75vh;
  z-index: -10;
  background-color: hsl(54, 11%, 64%);
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hero-img {
    height: 65vh;
  }
}
@media (max-width: 425px) {
  .hero-img {
    height: 60vh;
  }
}

.head-element {
  position: relative;
}

.img-3 {
  width: 10rem;
  height: 8rem;
  background-color: hsl(54, 11%, 64%);
  margin: 0 1rem;
  border-radius: 0.5rem;
  border: solid 0.15rem hsl(0, 0%, 98%);
}
.img-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .img-3 {
    width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 745px) {
  .img-3 {
    width: 6rem;
    height: 6rem;
    margin: 0 0.5rem;
  }
}
@media (max-width: 375px) {
  .img-3 {
    width: 5rem;
    height: 5rem;
  }
}

.img-3-1 {
  width: 15rem;
  height: 15rem;
  background-color: hsl(54, 11%, 64%);
  margin: 0 1rem;
  border-radius: 0.5rem;
  border: solid 0.15rem hsl(0, 0%, 98%);
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
.img-3-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .img-3-1 {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 745px) {
  .img-3-1 {
    width: 10rem;
    height: 10rem;
    margin: 0 0.5rem;
  }
}
@media (max-width: 375px) {
  .img-3-1 {
    width: 9rem;
    height: 9rem;
  }
}

.full-width-img {
  width: 100%;
  height: 70vh;
  background-color: hsl(54, 11%, 64%);
}
.full-width-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-width-img-1 {
  width: 100%;
  height: 70vh;
  background-color: hsl(54, 11%, 64%);
}
.full-width-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-width-img-2 {
  width: 100%;
  height: 40vh;
  background-color: hsl(54, 11%, 64%);
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
.full-width-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.full-width-img-3 {
  width: 50%;
  height: 40vh;
  margin: 2rem auto 1rem auto;
  background-color: hsl(54, 11%, 64%);
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
.full-width-img-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  margin: 0 0 2rem 0;
}
.card img {
  width: 50%;
  margin-bottom: 1rem;
  opacity: 0.3;
}
.card img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card-staff {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

.card-top-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

.staff-photo {
  width: 8rem;
  height: 10rem;
  background-color: hsl(54, 11%, 64%);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  margin: 2rem auto 1rem auto;
}
.staff-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.wrapper-grid-3 {
  width: 70vw;
  margin: 3rem auto 3rem auto;
}
@media (max-width: 1024px) {
  .wrapper-grid-3 {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .wrapper-grid-3 {
    width: 70vw;
    margin: 2rem auto 2rem auto;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 576px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-staff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  gap: 2rem;
  margin: 2rem auto 0 auto;
}
@media (max-width: 1024px) {
  .grid-staff {
    width: 90vw;
  }
}
@media (max-width: 910px) {
  .grid-staff {
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .grid-staff {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-2col-left {
  display: grid;
  grid-template-columns: 0.8fr 1.1fr 0.1fr;
  gap: 2rem;
  margin: 6rem auto;
}
@media (max-width: 1024px) {
  .grid-2col-left {
    grid-template-columns: 1fr;
  }
}

.grid-2col-right {
  display: grid;
  grid-template-columns: 0.1fr 1.1fr 0.8fr;
  gap: 2rem;
  margin: 6rem auto;
}
@media (max-width: 1024px) {
  .grid-2col-right {
    grid-template-columns: 1fr;
  }
}

.col2-left-img {
  border-radius: 0 5rem 5rem 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .col2-left-img {
    border-radius: 0 0 0 0;
    width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .col2-left-img {
    width: 100vw;
    border-radius: 0;
  }
}
.col2-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 5rem 5rem 0;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .col2-left-img img {
    border-radius: 1rem;
  }
}
@media (max-width: 768px) {
  .col2-left-img img {
    border-radius: 0;
  }
}

.col2-right-img {
  border-radius: 5rem 0 0 5rem;
  width: 100%;
  height: 100%;
}
.col2-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5rem 0 0 5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .col2-right-img img {
    display: none;
  }
}

.col2-right-img-top {
  display: none;
}
@media (max-width: 1024px) {
  .col2-right-img-top {
    display: block;
    width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col2-right-img-top {
    width: 100vw;
  }
}
@media (max-width: 1024px) {
  .col2-right-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5rem 0 0 5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .col2-right-img-top img {
    border-radius: 0.5rem;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col2-right-img-top img {
    border-radius: 0;
  }
}

.col2-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.col2-content h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: hsl(53, 10%, 30%);
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  text-wrap: balance;
  letter-spacing: 0.15rem;
}
@media (max-width: 1024px) {
  .col2-content h2 {
    margin: 2rem 0 0 0;
  }
}
.col2-content h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-wrap: balance;
  color: hsl(53, 10%, 30%);
  margin: 0.5rem 0 0 0;
}
.col2-content p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: hsl(53, 10%, 30%);
  text-wrap: balance;
  margin: 1rem 0 0 0;
}

.col2-top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.col2-top-img img {
  width: 25%;
  object-fit: cover;
  object-position: center;
  margin: 4rem 1rem 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .col2-top-img img {
    width: 20%;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
  }
}
@media (max-width: 768px) {
  .col2-top-img img {
    width: 30%;
  }
}

.col2-left-line {
  width: 100%;
  height: 100%;
  background-color: hsl(54, 11%, 64%);
  opacity: 0.3;
  border-radius: 5rem 0 0 5rem;
}
@media (max-width: 1024px) {
  .col2-left-line {
    display: none;
  }
}

.col2-right-line {
  width: 100%;
  height: 100%;
  background-color: hsl(54, 11%, 64%);
  opacity: 0.3;
  border-radius: 0 5rem 5rem 0;
}
@media (max-width: 1024px) {
  .col2-right-line {
    display: none;
  }
}

.facilities-space {
  width: 100vw;
  height: 0.5rem;
  background-color: hsla(53, 10%, 20%, 0.95);
  margin: 0 auto;
  opacity: 0.1;
}
@media (max-width: 1024px) {
  .facilities-space {
    display: none;
  }
}

.landing-1 {
  object-position: 10% 15%;
}

.landing-2 {
  object-position: 60% 20%;
}

.landing-3 {
  object-position: 55% 60%;
}

.about-1 {
  object-position: 22% 70%;
}

.about-2 {
  object-position: 22% 100%;
}

.about-3 {
  object-position: 60% 90%;
}

.about-4 {
  object-position: 45% 35%;
}

.facilities-1 {
  object-position: 80% 60%;
}

.facilities-2 {
  object-position: 75% 70%;
}

.activity-1 {
  object-position: 70% 10%;
}

.activity-2 {
  object-position: 40% 80%;
}

.activity-3 {
  object-position: 55% 90%;
}

.activity-5 {
  object-position: 70% 80%;
}

.activity-wildlife-3 {
  object-position: 10% 90%;
}

.activiti-star-3 {
  object-position: 10% 70%;
}

.activity-geology-1 {
  object-position: 10% 50%;
}

.activity-geology-3 {
  object-position: 10% 20%;
}

.activity-bottom {
  object-position: 70% 55%;
}

.contact-1 {
  object-position: 10% 80%;
}

.contact-2 {
  object-position: 42% 80%;
}

.form-layout {
  position: relative;
  width: 80%;
  margin: 4rem auto 4rem auto;
  padding: 1.7rem 2rem 1.5rem 2rem;
  background-color: hsla(54, 11%, 64%, 0.5);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 570px) {
  .form-layout {
    width: 100%;
  }
}

.form-layout label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(53, 10%, 30%);
}

.form-layout input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  color: hsl(58, 39%, 29%);
}

.form-layout input[type=submit] {
  display: block;
  width: auto;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  background-color: hsl(53, 10%, 30%);
  color: hsl(0, 0%, 98%);
  padding: 0.5rem 1rem;
  margin: 1rem auto 0.5rem auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.form-layout input[type=submit]:hover {
  background-color: hsl(32, 85%, 23%);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.map-iframe {
  width: 100%;
  height: 60vh;
  border: none;
  margin: 3rem auto 0rem auto;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.testimonial-container {
  width: 70%;
  margin: 4rem auto 4rem auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .testimonial-container {
    width: 90%;
  }
}

.testimonial-p {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  line-height: 2rem;
  font-size: 1.5rem;
  text-wrap: balance;
  color: hsl(53, 10%, 30%);
  opacity: 0.5;
}
.testimonial-p:before {
  position: absolute;
  top: 0;
  left: -0.65rem;
  content: open-quote;
  font-size: 3rem;
  color: hsl(54, 11%, 64%);
}
.testimonial-p:after {
  position: absolute;
  bottom: 0;
  right: -1rem;
  content: close-quote;
  font-size: 3rem;
  color: hsl(54, 11%, 64%);
}

.testi-name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(53, 10%, 30%);
  opacity: 0.5;
  margin-top: 1rem;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  transition: top 0.3s ease;
  width: 100%;
  z-index: 90;
}

.page-logo {
  position: relative;
  width: 8rem;
  height: 6.5rem;
  background-color: hsl(0, 0%, 98%);
  margin: 0 0 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  z-index: 40;
}
.page-logo img {
  width: 7rem;
}
@media (max-width: 768px) {
  .page-logo img {
    width: 6.5rem;
  }
}
.page-logo:hover, .page-logo:focus {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
}
@media (max-width: 1024px) {
  .page-logo {
    margin: 0 0 0 10vw;
  }
}
@media (max-width: 768px) {
  .page-logo {
    margin: 0 auto;
    width: 7.5rem;
    height: 5.5rem;
  }
}

.main-nav {
  display: flex;
  position: absolute;
  background-color: hsl(53, 10%, 30%);
  top: 2rem;
  width: 100%;
  height: 2rem;
  justify-content: flex-end;
}
.main-nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 15vw 0 0;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .main-nav ul {
    margin: 0 10vw 0 0;
  }
}
.main-nav ul a {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 98%);
  letter-spacing: 0.15rem;
  margin: 0 0 0 1.5rem;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .main-nav ul a {
    letter-spacing: 0.07rem;
  }
}
@media (max-width: 819px) {
  .main-nav ul a {
    margin: 0 0 0 1rem;
  }
}
@media (max-width: 768px) {
  .main-nav ul a {
    display: none;
  }
}
.main-nav ul a:hover, .main-nav ul a:focus {
  color: hsl(57, 29%, 57%);
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

.mobile-nav {
  display: none;
}
@media (max-width: 768px) {
  .mobile-nav {
    display: flex;
    align-items: flex-end;
    position: fixed;
    background-color: hsla(0, 0%, 98%, 0.9);
    top: 8rem;
    right: -100%;
    width: 100%;
    height: auto;
    transition: right 0.3s ease;
    z-index: 100;
  }
  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1.5rem 3rem 1.5rem 3rem;
    line-height: 2.2rem;
  }
  .mobile-nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mobile-nav ul li a {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    color: hsl(53, 10%, 30%);
    letter-spacing: 0.15rem;
    text-decoration: none;
  }
  .mobile-nav ul li a:hover, .mobile-nav ul li a:focus {
    color: hsl(57, 29%, 57%);
  }
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.2rem;
    height: 2.2rem;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    z-index: 150;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .hamburger div {
    position: relative;
    width: 1.8rem;
    height: 0.2rem;
    margin: 0.12rem 0;
    background-color: hsl(50, 27%, 41%);
    border-radius: 3px;
    -webkit-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

.footer-nav {
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: hsl(53, 10%, 30%);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  justify-content: center;
  align-items: center;
}
.footer-nav ul {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .footer-nav ul {
    display: none;
  }
}
.footer-nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  margin: 0 1rem;
}
.footer-nav ul a:hover, .footer-nav ul a:focus {
  color: hsl(57, 29%, 57%);
}

.footer-body {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
}

.footer-body-content {
  display: grid;
  width: 90vw;
  height: 300px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer-body-content {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .footer-body-content {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}
.footer-body-content img {
  width: 15rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer-body-content img {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .footer-body-content img {
    width: 10rem;
  }
}
.footer-body-content div {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  .border-body-content-3 {
    border-top: solid 5px hsl(57, 29%, 57%);
    padding: 3rem 0 1rem 0;
  }
}

.footer-details a {
  text-decoration: none;
  color: hsl(53, 10%, 30%);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}
.footer-details h3 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.footer-details p {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;
}

.copy-right {
  width: 100%;
  background-color: hsl(53, 10%, 30%);
  text-align: center;
  padding: 1rem;
}

.copy-right span {
  padding-top: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.15rem;
  color: hsl(0, 0%, 98%);
}

.sm-icon {
  width: 2rem;
  margin: 1rem;
  border-radius: 0;
}

.sm-icon:hover {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */